@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$bg-color: #011640;
$icons-color: #05aff2;
$hoverColor: #00ff9f;
$headerBg: #000;
$box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
$card-shadow: 5px 5px 15px 5px #000000;
$btnColor: #5f5dff;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

// Global styes
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: $bg-color;
}

section {
  padding: 2rem 9%;
}

footer {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  background: $btnColor;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  font-size: x-large;
  &:hover {
    background: $hoverColor;
  }
}

// Pages Styles
// header styles starts
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $headerBg;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  box-shadow: $box-shadow;

  .icons {
    // visibility: hidden;
    display: none;
    svg {
      // padding: 1rem;
      height: 4rem;
      width: 4rem;
      background: $headerBg;
      border-radius: 0.5rem;
      color: $icons-color;
    }
  }

  //   Logo
  .logo {
    color: $icons-color;
    font-size: 3rem;
    cursor: pointer;
    span {
      color: $hoverColor;
    }
  }

  nav {
    font-size: x-large;

    .closeMenu {
      cursor: pointer;
      position: absolute;
      left: 100%;
      top: 1%;
      svg {
        // padding: 1rem;
        height: 4rem;
        width: 4rem;
        background: #fff;
        border-radius: 50%;
        padding: 0.2rem;
        color: $icons-color;
      }
    }

    .logo {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.2rem;
      li {
        a {
          color: $icons-color;
          &:hover,
          .active {
            color: $hoverColor;
            border-bottom: 0.2rem solid $hoverColor;
            font-size: 2.5rem;
          }
        }
      }
    }
    .btn {
      display: none;
    }
  }

  a {
    font-size: x-large;
  }
}
// header styles ends

// hero starts

.hero {
  background: url("./assets/pexels-sejio402-6466141.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .content {
    transform: translateY(20rem);
    width: 50%;
    h3 {
      color: #fff;
      font-size: 4rem;
      font-weight: 900;
      text-shadow: 0.2rem 0.2rem black;
      line-height: 1.5;
      letter-spacing: 0.1rem;
    }
    p {
      color: #fff;
      font-size: 2rem;
      font-weight: 500;
      text-shadow: 0.2rem 0.2rem black;
      line-height: 1.5;
      letter-spacing: 0.1rem;
    }
  }
}
// hero ends

// services starts
.services {
  .title {
    color: $icons-color;
    font-size: 4rem;
    text-align: center;
    margin: 2.5rem 0;
    span {
      color: $hoverColor;
    }
  }
  .service {
    @include grid(40rem);
    div {
      background: #fff;
      border-radius: 1rem;
      padding: 2rem;
      text-align: center;
      &:hover {
        box-shadow: $card-shadow;
        cursor: pointer;
        color: $bg-color;
        background: $hoverColor;
        transition: all 0.2s linear;
      }
      // display: flex;
      // justify-content: center;
      // align-items: center;
      img {
        height: 20rem;
        width: 20rem;
      }
      h4 {
        font-size: large;
        font-weight: bolder;
        margin: 1rem 0;
      }
      p {
        font-size: small;
      }
    }
  }
}
// services ends

// media queries
@media all and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
  header {
    padding: 2rem;
  }
  footer {
    padding: 2rem;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  header {
    .icons {
      display: inline-block;
    }

    nav {
      position: absolute;
      top: 0;
      left: -100%;
      width: 42%;
      height: 100vh;
      background: $bg-color;
      z-index: 100;
      transition: all 0.5s linear;
      &.active {
        left: 0;
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 42%;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: -100;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity 0.4s ease-in-out,
          visibility 0.4s ease-in-out;
      }

      ul {
        display: flex;
        flex-direction: column;
      }

      .logo {
        display: block;
        text-align: center;
        padding: 4rem 0;
      }
      .btn {
        display: inline-block;
        // text-align: center;
        transform: translateX(50%);
        margin: 4rem 0;
        a {
          color: #fff;
        }
      }
    }
  }

  .hero {
    .content {
      width: auto;
    }
  }
}

@media all and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
